@charset "utf-8";
/* CSS Reset */


/* copyright(c) fdcompany.kr */

@font-face {
  font-family:'YonseiB';
  src: url('../fonts/YonseiB.ttf')format('truetype');
  src: url('../fonts/YonseiB.woff')format('woff');
}

p, span, div, a, table {
    /* font-family: 'Malgun Gothic', 'Nanum Square', 'Noto Sans Korean' */
    font-family: 'Noto Sans KR', sans-serif;
}
html {overflow-y:scroll; margin:0 auto !important;}
body {margin:0;padding:0;font-size:0.75em;font-family:'Noto Sans KR', sans-serif; /* overflow-x: hidden; */}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0;}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Noto Sans KR', sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
label, input, button, select, img {vertical-align:middle;font-size:14px;font-weight: 400;}
input, button {margin:0;padding:0;font-family:'Noto Sans KR', sans-serif;font-size:1em}
input[type="submit"],
button {cursor:pointer; -webkit-appearance: none; -webkit-border-radius: 0;}

textarea, select {font-family:'Noto Sans KR', sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:block}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}
img{max-width:100%;}
.draggable{height:auto !important;}
.clb{clear:both;}
.center{text-align:center;}

*, :after, :before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

input[type=text],input[type=password], textarea {-webkit-transition: all 0.30s ease-in-out;-moz-transition: all 0.30s ease-in-out;-ms-transition: all 0.30s ease-in-out;-o-transition: all 0.30s ease-in-out;outline: none;}
input[type=text]:focus,input[type=password]:focus,  textarea:focus,select:focus {-webkit-box-shadow:  0 0 5px #9ed4ff;-moz-box-shadow:  0 0 5px #9ed4ff;box-shadow: 0 0 5px #9ed4ff;border: 1px solid #558ab7 !important;}
.placeholdersjs { color: #aaa !important; }

pre {white-space:pre-wrap;}

* {margin: 0; padding: 0; font-family: inherit; font-size: 14px; font-style: normal; font-weight: normal; text-decoration: none; vertical-align: middle; border: 0 solid transparent; outline: 0; box-sizing: border-box; background-repeat: no-repeat;}
html {font-family: 'Noto Sans KR', sans-serif;}
b, strong {font-weight: bold;}
ul, ol {list-style: none;}
table {table-layout: fixed; border-collapse: collapse;}
input[type="button"], input[type="submit"], button, a, label {cursor:pointer;}
a {text-decoration:none; color:inherit;}
button {background-color:transparent; border:none;}
*::selection {background:lemonchiffon;}
select {background-color:transparent !important;}
/* CSS Reset */


/* 상세페이지 - editor */
.table-item[data-detail_key='content'] ul,ol {list-style:revert;}
.table-item[data-detail_key='content'] u {text-decoration:revert;}
.table-item[data-detail_key='content'] table {width:100%;}
.table-item[data-detail_key='content'] table td {bordeR:1px solid #ececec; padding:5px 3px;}
.table-item[data-detail_key='content'] p a {color:#337ab7; text-decoration: inherit;}
.table-item[data-detail_key='content'] p a:hover {color:#23527c; text-decoration: underline; outline: 0;}

/* 등록페이지 - editor */
.note-editor.note-frame .note-editing-area .note-editable {padding:10px 25px !important;}
.note-editor .note-editing-area .note-editable ul,ol {list-style: revert;}
.note-editor .note-editing-area .note-editable u {text-decoration: revert;}
.note-editor.note-frame.fullscreen {background:#fff;}



.pc {display:block;}
.mobile {display:none;}
.xi-angle-left-min {display:none!important;} 


.container {position: relative; max-width:1400px; width:1400px; min-height:100vh; margin:0 auto 160px; padding:141px 0 0;}
.middle-cont {width:960px; margin:0 auto;}
/* .my-container {padding:40px 0 160px;} */
.mg-auto{margin:0 auto;}
.wrap {max-width:1400px;/*max-width:1080px*/;}
.bg {background-position:center; background-repeat:no-repeat; background-size:cover;}
/* .fit-hide {position:absolute;right:-10000px;top:-10000px;} */




/* 텍스트 처리 (다중처리 - white-space: initial; max-height: 10px; display: inline-block;)*/
.keepText {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;word-wrap: normal;}
.multi-line2{display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;-moz-line-clamp: 2;-moz-box-orient: vertical;-ms-line-clamp: 2;-ms-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;white-space: unset;}
.multi-line3{display:-webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;-moz-line-clamp: 3;-moz-box-orient: vertical;-ms-line-clamp: 3;-ms-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;white-space: unset;}

/* 더보기 버튼 */
.onfif-btn-more {padding:10px 20px; border:1px solid #d8d8d8; box-sizing:border-box; border-radius:50px; display:flex; align-items:center; justify-content:center; width:115px; height:40px;}
.onfif-btn-more .btn-more-txt {font-family:'Noto Sans', sans-serif; font-weight:600; font-size:0.875rem; color:#676767; padding-right:8px;}
.onfif-btn-more.white {border:1px solid #fff;}
.onfif-btn-more.white .btn-more-txt, .btn-more.white i {color:#fff;}

.btn-more-black {margin: 0 auto !important; background-color: #343434 !important; border:1px solid #343434 !important; color:#fff !important;}
.btn-more-black > i {margin-left:8px;}
.btn-more-black:hover {background:#fff !important; color:#343434 !important; border:1px solid #e5e5e5 !important; transition:all 0.25s;}
.btn-more-black:hover i {color:#343434;}

/* 페이지네이션
.board-paginate {display:flex; align-items:center; justify-content:center;font-family:'Montserrat',sans-serif; font-weight:600;}
.board-paginate .page-prev {margin-left:27px;}
.board-paginate ol {margin: 0 54px;display:flex; align-items:center; justify-content:center;}
.board-paginate ol li {margin-right:26px;}
.board-paginate ol li:last-child {margin-right:0;}
.board-paginate ol li a { font-weight:600; color:#343434;transition:all .15s ease-in-out;}
.board-paginate ol li a:hover {color:#ffb518;}
.board-paginate ol li a.active {padding:5px 10px; background-color:#ffb518; color:#fff; border-radius:2px;}
.board-paginate .page-next {margin-right:27px;}
.board-paginate a svg {fill:#adadad; transition:all .15s ease-in;}
.board-paginate a svg:hover {fill:black;} */
.pagenation-index-container ul > li {border:0!important;}

.self-center{right:50%;top:50%;transform: translate(-50%, -50%);}
.fit-hide {text-indent:-9999px;display: inline-block !important;position: absolute;top: 0;left: 0;margin: 0 !important;padding: 0 !important;font-size: 0;line-height: 0;border: 0 !important;overflow: hidden !important;}

.menu-sub-tit {padding:40px 0 80px; text-align:center;}
.menu-sub-tit b {position:relative; font-size:2.1rem;}
.menu-sub-tit b:after {content:''; position:absolute; bottom:-20px; left:50%; display:block; width:60px; height:2px; background-color:#225aa8; transform:translate(-50%, 0);}

.spinner{position:fixed;display:none;left:0;top:0;width:100%;height:100%;align-items:center;justify-content:center;background-color: rgba(0,0,0,0.75);z-index: 10000;}
.spinner.ajax{position:static;background-color:rgba(0, 0, 0, 0);margin:10px auto;display: none;justify-content: center;}
.spinner.active{display:flex;}
.spinner::after {content:''; display:block; border-radius:50%; border-top:2px solid #778fb0; border-right:2px solid #778fb0; width:60px; height:60px; animation:spinner 800ms ease-out infinite;}
@keyframes spinner {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

/* Chungwon */
.change-form{}
.change-form .change1{display:block;}
.change-form .change2{display:none;}
.change-form.active .change1{display:none;}
.change-form.active .change2{display:block;}
.flex-change-form{display:flex;flex-direction: inherit;}
.flex-change-form .change1{display:flex;flex-direction: inherit;}
.flex-change-form .change2{display:none;}
.flex-change-form.active .change1{display:none;}
.flex-change-form.active .change2{display:flex;flex-direction: inherit;}

/* 정렬 */
.sort-item {display:inline-flex; align-items:center; font-weight:500; font-size:.9rem; line-height:1rem;}
.sort-item i {cursor:pointer;}
.sort-item .xi-align-justify, .sort-item .xi-sort-desc, .sort-item .xi-sort-asc{display:none;}    
.sort-item.sort- .xi-align-justify{display:inline-block;}
.sort-item.sort-desc .xi-sort-desc{display:inline-block;}
.sort-item.sort-asc .xi-sort-asc{display:inline-block;}

.position-fixed{position:fixed;}
.cursor-pointer{cursor:pointer;}

/* 리스트 페이지 카운트 */
.count-status {display:none;}
.count-status.active {display:block;}


/* 박스 공통 배경 */
.list-box {margin:20px; padding:30px; border-radius:15px; box-shadow:4px 11px 12px #eee; background-color:#fff;}


/* 레이아웃 */
.list-layout {font-size:0;}
/* 아이템 3개 나열 */
.list-layout3 .list-layout-item {display:inline-block; width:calc(100% / 3 - 10px); margin-right:15px;}
.list-layout3 .list-layout-item:nth-child(3n) {margin-right:0;}
.list-layout3 .list-layout-item:nth-child(3n)~.list-layout-item {margin-top:15px;}
/* 아이템 4개 나열 */
.list-layout4 .list-layout-item {display:inline-block; width:calc(100% / 4 - 10px); margin-right:13px;}
.list-layout4 .list-layout-item:nth-child(4n) {margin-right:0;}
.list-layout4 .list-layout-item:nth-child(4n)~.list-layout-item {margin-top:15px;}
/* 아이템 5개 나열 */
.list-layout5 .list-layout-item {display:inline-block; width:calc(100% / 5 - 10px); margin-right:10px;}
.list-layout5 .list-layout-item:nth-child(5n) {margin-right:0;}
.list-layout5 .list-layout-item:nth-child(5n)~.list-layout-item {margin-top:15px;}
@media screen and (max-width:768px) {
/* 아이템 2개 나열 */
.list-layout2 .list-layout-item {display:inline-block; width:calc(100% / 2 - 5px); margin-right:10px !important;}
.list-layout2 .list-layout-item:nth-child(2n) {margin-right:0px !important;}
.list-layout2 .list-layout-item:nth-child(2n)~.list-layout-item {margin-top:15px;}
}



/* 210720_onfif_영화제 공통 타이틀 */
.ta-main-tit {font-size:1.429rem; font-weight:500; font-family:'Noto Sans KR', sans-serif;}
.board-title-area .ta-btnArea {display:flex; justify-content:center;}
.board-title-area .ta-btnArea .ta-btn {border:2px solid #ffb518; box-sizing:border-box; border-radius:50px; width:160px; height:50px; display:flex; align-items:center; justify-content:center; margin-right:8px; cursor:pointer;}
.board-title-area .ta-btnArea .ta-btn .ta-btn-txt {color:#ffb518; font-size:1.09rem; font-family:'Noto Sans KR', sans-serif; font-weight:600; display:inline-flex; align-items:center; justify-content:center; width:100%; height:100%;}
.board-title-area .ta-btnArea .ta-btn:hover {background-color:#ffb518;}
.board-title-area .ta-btnArea .ta-btn:hover .ta-btn-txt {color:#fff;}
.board-title-area .ta-btnArea .ta-btn.active {background-color:#ffb518;}
.board-title-area .ta-btnArea .ta-btn.active .ta-btn-txt {color:#fff;}
.board-title-area .ta-btnArea .ta-btn:last-child {margin-right:0;}
@media screen and (max-width:768px) {

  .board-title-area .ta-main-tit {font-size:1.5rem; padding:0 30px;}
  .board-title-area .ta-btnArea .ta-btn {width: 137px; height:42px; font-size:0.875rem; margin-right:6px;}
  .board-title-area .ta-btnArea .ta-btn .ta-btn-txt {font-size:.9rem;}
}

/* 커뮤니티 공통 타이틀 */
.comm-tit {font-size: 1.7rem; font-weight:700; margin-bottom:30px;}
.comm-tit2 {font-size: 1.7rem; font-weight:700; padding-bottom:30px; border-bottom:1px solid #000;}




@media screen and (max-width:768px) {
  .side-left {width:100%;}
  .side-right {width:100%;}
}

/* 오른쪽 하단 목록 / 등록 / 수정 버튼 */
/* .list-btn {text-align: center; display:flex; justify-content:flex-end; margin:12px 0;}
.list-btn span {display:flex; justify-content:center; align-items:center; width: 120px; height:40px; background-color:#343434; border-radius:3px; transition: all 0.25s; font-size: 1rem; color:#fff;}
.list-btn span:hover {background-color: #fff; color:#343434; border: 1px solid #e5e5e5; } */

/* 오른쪽 하단 등록 버튼 */
.upload-btn {text-align: center; display:flex; justify-content:flex-end; margin:12px 0;}
.upload-btn span {display:flex; justify-content:center; align-items:center; padding:4px 14px; border:1px solid #2A62FF; background-color:#2A62FF; transition: all 0.25s; font-size: 1rem; font-weight:500; color:#fff;}
.upload-btn span:hover {background-color: #fff; color:#2A62FF; border: 1px solid #2A62FF; }






/* 
    프론트엔드 데이터 관련 CSS
*/
.state-upload{display:none;} /* */
[data-method='move']:hover{cursor:pointer;} /* move 버튼 pointer */
.upload-item.disabled{display:none !important;} /*  */
[id^='no-'].disabled {display:none !important;} /* 목록페이지 결과 없는 경우 */
.detail-status.disabled {display:none !important} /*  */
.mine-off .mine-off-el{display:none !important;} /* 내가 쓴 글이 아닌 경우 mine-off */